* {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  font-size: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: url("../images/pagoda.jpg") no-repeat center center fixed;
  background-size: cover;
}


.header-logo {
  font-size: 28px;
  color: #E5E7EB;
  font-weight: 900;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  color: #E5E7EB;
}

ul>li:hover {
  font-size: 20px;
}

/* Main blog body */

body {
  padding-top: 70px;

}

.title {
  text-align: center;
}

.mainTitle {
  font-size: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

.subtitle h3 {
  margin: 10px 50px 30px;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs>div {
  width: 21vw;
  height: 60vh;
  flex-shrink: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.blogs>div:hover {
  width: 22vw;
  height: 62vh;
  flex-shrink: 0;
  padding: 10px;
}

@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}

.blogs h2,
.blogs h3 {
  font-family: "Noto", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "MS PGothic";
  margin: 5px 10px;
}

.info, 
.views {
  margin: 5px 10px;
  font-size: 0.8rem;
}

.blogs h2 {
  font-size: 1.2rem;
  margin-top: 0;
}

.blogs h3 {
  font-size: 1rem;
  font-weight: 400;
  color: darkslategrey;
}

/* .blogs>div>.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.img {
  max-width: 100%;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.blog1 > .img {
  background-image: url("../images/blog1thumb.JPG");
}

#portrait {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.author {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  align-items: center;
  max-height: 40px;
}